.timetable {
  display: grid;
  grid-gap: $spacer/2;

  .box {
    background-color: $dark;
    color: $light;
    border-radius: $border-radius;
    padding: $spacer/2;
    min-width: 100px;
  }

  .box-title {
    min-width: 250px;
    background-color: $light;
    color: $dark;
  }
}