{% extends "@DisjfaTimetable/base.html.twig" %}

{% block _disjfa_timetable_content %}

    {% include '@DisjfaTimetable/timetable/_style.html.twig' %}

    <div class="container">
        {% include '@DisjfaTimetable/timetable/_menu.html.twig' %}

        <h1>
            {{ timetable.title }}
        </h1>

        {{ timetable.about | markdown_to_html }}
    </div>
{% endblock %}
