{% extends "@DisjfaTimetable/base.html.twig" %}

{% block _disjfa_timetable_content %}

    {% include '@DisjfaTimetable/Timetable/_style.html.twig' %}

    <div class="container">
        {% include '@DisjfaTimetable/Timetable/_menu.html.twig' %}
        {% include '@DisjfaTimetable/Timetable/_timetable.html.twig' %}
    </div>
{% endblock %}
