{% extends "@DisjfaTimetable/base.html.twig" %}

{% block _disjfa_timetable_content %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

