{% extends "base.html.twig" %}

{% block main %}
    <div class="container">
        {% for timetable in timetables %}
            <div>
                <a href="{{ path('disjfa_timetable_timetable_show', {'timetable': timetable.id}) }}">
                    {{ timetable.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
