{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="table-responsive">
            <div class="timetable">
                <div class="box soapgirs">
                    the soapgirs
                </div>
                <div class="box boom">
                    fata boom
                </div>
                <div class="box c">
                    cccccc
                </div>
            </div>
        </div>
    </div>
{% endblock %}
