{% extends "@DisjfaTimetable/base.html.twig" %}

{% block _disjfa_timetable_content %}
    <div class="container">
        <h1>Timetables</h1>
        <a href="{{ path('disjfa_timetable_timetable_create') }}" class="btn btn-primary">
            Create new
        </a>
        {% for timetable in timetables %}
            <div>
                <a href="{{ path('disjfa_timetable_timetable_show', {'timetable': timetable.id}) }}">
                    {{ timetable.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
